@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

html {
  background-color: white;
  padding-left: 20px;
}

img{
  border-radius: 30px;
  width: 200px;
}

h1 {
  font-family: cursive;
}

.para {
  text-align: center;
  font-family: fantasy;
}

body {
  background-color:#4e9eea;
}

h3 {
  font-family: monospace;
  font-size: 20px;
}